<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/scss/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <title>Strict</title>
  </head>

  <body>
    <!-- <?php
    var_dump($_SERVER['REQUEST_URI']);
    var_dump($_SESSION);
    ?> -->
    <!-- header -->
    <section class="section-outer section-header">
      <div class="section-inner">
        <div class="section-header__top-logo">
          <img src="/img/Blue Top.png" alt="img-logo" />Strict
        </div>
        <nav class="section-header__top-nav">
          <ul class="section-header__top-nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/user/register">Signup</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/main/about">About</a></li>
            <!-- <?php if(isset($_SESSION['userId'])){?> -->
            <li><a href="/user/account">Account</a></li>
            <li>
              <form action="/user/logout" method="POST">
                <button class="logout-btn" name="logout-submit" type="submit">
                  Logout
                </button>
              </form>
            </li>
            <!-- <?php };?> -->
          </ul>
        </nav>
        <div class="section-header__toggler">
          <button
            class="section-header__toggler-btn"
            type="submit"
            onclick="ToggleNav()"
          >
            <img src="/img/svg/ellipsis-h-solid.svg" alt="menu" />
          </button>
        </div>
      </div>
    </section>
    <!-- header -->
    <!-- toggle-menu -->
    <div class="toggle">
      <ul class="toggle-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/user/register">Signup</a></li>
        <li><a href="/user/login">Login</a></li>
        <li><a href="/main/about">About</a></li>
        <!-- <?php if(isset($_SESSION['userId'])){?> -->
        <li><a href="/user/account">Account</a></li>
        <li>
          <form action="/user/logout" method="POST">
            <button class="logout-btn" name="logout-submit" type="submit">
              Logout
            </button>
          </form>
        </li>
        <!-- <?php };?> -->
      </ul>
    </div>
    <!-- toggle-menu -->
    <section class="section-inner section-postlist">
      <div class="section-inner">
        <div class="section-postlist__post">
          <div class="section-postlist__post-info">
            <img
              class="section-postlist__post-info-pic"
              src="/img/anon.png"
              alt=""
            />
            <p class="section-postlist__post-info-author">Ololosh</p>

            <p class="section-postlist__post-info-dateposted">21-01-2020</p>
          </div>
          <div class="section-postlist__post-content">
            <div class="section-postlist__post-content-title">Title</div>
            <div class="section-postlist__post-content-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              eius iusto totam numquam reprehenderit, ab doloremque id modi
              exercitationem voluptatem nobis quaerat accusantium asperiores
              voluptate beatae dignissimos in et veniam?
            </div>
          </div>
        </div>
        <div class="section-postlist__post">
          <div class="section-postlist__post-info">
            <img
              class="section-postlist__post-info-pic"
              src="/img/anon.png"
              alt=""
            />
            <p class="section-postlist__post-info-author">Ololosh</p>

            <p class="section-postlist__post-info-dateposted">21-01-2020</p>
          </div>
          <div class="section-postlist__post-content">
            <div class="section-postlist__post-content-title">Title</div>
            <div class="section-postlist__post-content-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              eius iusto totam numquam reprehenderit, ab doloremque id modi
              exercitationem voluptatem nobis quaerat accusantium asperiores
              voluptate beatae dignissimos in et veniam?
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <section class="section-outer section-footer">
      <div class="section-inner">
        <div class="section-footer__copyright">Copyritht 2014, STRICT</div>
        <div class="section-footer__sm">
          <img src="/img/svg/facebook-square-brands.svg" alt="" />
          <img src="/img/svg/twitter-square-brands.svg" alt="" />
          <img src="/img/svg/google-plus-square-brands.svg" alt="" />
          <img src="/img/svg/linkedin-brands.svg" alt="" />
        </div>
      </div>
    </section>
    <!-- footer -->
  </body>
  <script src="/js/toggle.js"></script>
  <script src="/js/tabmenu.js"></script>
</html>
